@import url('main.css');

.first-paragraphs{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

h1, h2{
    padding: 15px;
    text-align: center;
}

h1{
    font-size: 29px;
    color: var(--Neutral300);
}

h2{
    font-size: 20px;
    color: var(--Neutral500);
}

form{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
}

label, p{
    color: var(--Neutral300);
    font-size: 18px;
    font-weight: 600;

    padding: 5px;
    margin: 5px;

    cursor: pointer;
}

input{
    background-color: hsla(245, 19%, 35%, 0.288);

    padding: 5px;
    margin: 5px;
}

input[type="file"]{
    display: none;
}

.file-upload{
    height: 95px;
    border-radius: 15px;
    border-style: dashed;
    border-color: var(--Neutral500);

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 0px;
    cursor: pointer;
}

.image-upload{
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../assets/images/icon-upload.svg') no-repeat;
    border-radius: 15px;
    border-style: solid;
    border-color: var(--Neutral500);
    width: 50px;
    height: 50px;
    margin: 5px;
}

.spant-info{
    padding: 10px;
    display: flex;
    align-content: center;
    color: var(--Neutral500);
}

.spant-info-img{
    padding-right: 10px;
}

.span-and-svg{
    display: flex;
    align-items: center;

    padding: 10px;
}

input[type="text"]{
    border-style: solid;
    border-radius: 15px;
    height: 35px;
    color: var(--Neutral300);
    font-size: 15px;
}

input[type="email"]{
    border-style: solid;
    border-radius: 15px;
    height: 35px;
    color: var(--Neutral300);
    font-size: 15px;
    margin-bottom: 0px;
}

.email-span-error{
    padding: 15px;
}

button{
    border-radius: 15px;
    border-style: none;
    background-color: var(--Orange700);

    height: 59px;
    font-size: 19px;
    font-weight: bolder;
}

input[type="text"]:hover, input[type="email"]:hover, .file-upload:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: hsla(246, 15%, 58%, 0.541);
}

button:hover{
    cursor: pointer;
    background-color: hsl(7, 88%, 67%);
    transition: 0.5s
}

@media screen and (min-width: 1024px){
    form{
        width: 100%;
    }
}