@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --Neutral0: hsl(0, 0%, 100%);
    --Neutral300: hsl(252, 6%, 83%);
    --Neutral500: hsl(245, 15%, 58%);
    --Neutral700: hsl(245, 19%, 35%);
    --Neutral900: hsl(248, 70%, 10%);

    --Orange500: hsl(7, 88%, 67%);
    --Orange700: hsl(7, 71%, 60%);

    --gradient-text: linear-gradient(to right, hsl(7, 86%, 67%),  hsl(0, 0%, 100%));

    --font: "Inconsolata", monospace;
}

/*mobile-first*/

html, body{
    min-height: 100vh;
}

body{
    background: url('../images/pattern-squiggly-line-bottom-mobile-tablet.svg')bottom no-repeat, url('../images/pattern-squiggly-line-top.svg')top right no-repeat, url('../images/pattern-lines.svg') top center no-repeat, url('../images/background-mobile.png') no-repeat;
    background-size: contain, contain, cover, cover;
}

.logo{
    width: 300px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.content{
    width: 100%;
    height: 100%;

    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    font-family: var(--font);
}

.visible{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

@media screen and (min-width: 1024px){
    body{
        background: url('../images/pattern-squiggly-line-bottom-desktop.svg')bottom left no-repeat, url('../images/pattern-squiggly-line-top.svg')top right no-repeat, url('../images/pattern-lines.svg') top center no-repeat, url('../images/background-desktop.png') no-repeat;
        background-size:54% 44%,50%, 80%, cover;

    }

    .content{
        width: 600px;
    }
}