@import url(main.css);

.generate-ticket{
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.ticket{
    background-image: url('../images/pattern-ticket.svg');
    background-repeat: no-repeat;
    background-size: contain;

    width: 365px;
    height: 180px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.spant-text{
    background-image: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spant-email{
    color: var(--Orange700);
}

.local-and-username{
    width: 100%;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.logo-title{
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
}

.logo-image{
    background-image: url('../images/logo-full.svg');
    background-repeat: no-repeat;

    padding: 15px;
}

.local-date{

}

.local-date, .logo-image{
    margin: 4px;
}



.div-random-num{
    rotate: 90deg;
}

@media screen and (min-width: 1024px){
    
    .ticket{
       padding: 230px;
       padding-bottom: 0px;
    }

}