@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --Neutral0: hsl(0, 0%, 100%);
    --Neutral300: hsl(252, 6%, 83%);
    --Neutral500: hsl(245, 15%, 58%);
    --Neutral700: hsl(245, 19%, 35%);
    --Neutral900: hsl(248, 70%, 10%);

    --Orange500: hsl(7, 88%, 67%);
    --Orange700: hsl(7, 71%, 60%);

    --gradient-text: linear-gradient(to right, hsl(7, 86%, 67%),  hsl(0, 0%, 100%));

    --font: "Inconsolata", monospace;
}

/*mobile-first*/

body{
    background-image: url('../assets/images/background-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background: url('../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg')bottom no-repeat, url('../assets/images/pattern-squiggly-line-top.svg')top right no-repeat, url('../assets/images/pattern-lines.svg') top center no-repeat;
    background-size: contain, contain, cover;
    

    width: 100%;
    height: 100%;

    margin: auto;

    font-family: var(--font);
}

.logo{
    width: 300px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: auto;
}